<h1>Movies</h1>

<ul>
  <% @movies.each do |movie| %>
  <% movieAndRating = movie.averate_rating.to_s + "% " + movie.title %>q
  <li><%= link_to movieAndRating, movie_path(movie)%></li>
  <% end %>
</ul>

<p><%= link_to "New Review", new_movie_path %></p>